body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    border: 15px solid red;
    /* border-top: 10px solid red;
    border-bottom: 10px solid red; */
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    width: 500px;

}

/* match with v1 code */
.box {
    display: flex;
    flex-basis: auto;
    height: 20px;
    width: 20px;
    transition-duration: 0.4s;
}

/* match with v2 code, will build on later */
/* .box {
    display: flex; 
    flex-basis: 1;
    transition-duration: 0.4s;
} */

.box:hover{
    background-color: red;
    cursor: pointer;
}

#clearCanvasBtn {
 margin: 10px;
 padding: 20px;
 font-size: 20px;
 background-color: red;
 cursor: pointer;
 color: white;
 border: none;
 border-radius: 8px;
 box-shadow: 0 10px #dfdfdf;
}
#clearCanvasBtn:hover{
    background-color: #9f0000;
}

#clearCanvasBtn:active {
background-color: #9f0000;
box-shadow: 0 5px #dfdfdf;
transform: translateY(3px);
}